* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "finlandica";
  src: url("/assets/fonts/.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/.woff") format("woff"),
    /* Pretty Modern Browsers */ url("/assets/fonts/.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}
body {
  font-family: "finlandica", Fallback, sans-serif;
  width: 100vw;
  height: 100vh;
}
.positions_banner {
  padding: 3rem;
  color: #1134a6;
}
.positions_category input {
  padding: 0.5rem 1rem;
  font-size: 12px;
  cursor: pointer;
  border-radius: 20px;
  color: #1134a6;
  border: solid 1px #1134a6;
}
.positions_category input:hover {
  background-color: aliceblue;
}
.positions_category {
  margin: 3rem;
  margin-top: 0;
}
.positions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 1rem;
  padding: 2rem 0;
}
.jobs img {
  max-height: 150px;
}
.jobs {
  height: 200px;
  width: 270px;
  margin: 1rem;
  border: solid 1px #f1f1f1;
  display: grid;
  justify-items: center;
}
.jobs h3,
.jobs p {
  display: block;
  background-color: #f1f1f1;
  width: 270px;
  padding: 1rem;
}
.jobs h3 {
  padding-bottom: 0;
}
.jobs p {
  padding-top: 0;
}
